<header>
  <h2>
    Everything is personal. including this blog
  </h2>
  <h1>
    Train of Thought
  </h1>
</header>
<nav class="menu">

  <ul class="menu-box">
    <li class="menu-item">
      <a>Home</a>
    </li>
    <li class="menu-item">
      <a>About</a>
    </li>
    <li class="menu-item">
      <a>My Blog</a>
    </li>
    <li class="menu-item">
      <a>Contact</a>
    </li>
    <li class="menu-item">
      <ul class="menu-social-icons">
        <li>fb</li>
        <li>inst</li>
        <li>twit</li>
        <li>pinter</li>
      </ul>
    </li>
  </ul>

</nav>
<div class="post">
  <figure>
    <div class="post-img__wrapper">
      <img src="../assets/img/1.jpg" alt="post image"/>
      <div class="post-img__overlay">
        <h2>featured post</h2>
      </div>
    </div>
    <figcaption>
      <section class="timing">
        <p>Jan 7</p>
        <span>*</span>
        <p>1 min</p>
      </section>
      <h3 class="team__last-name">Back to Fiction: What I'm Reading This Summer</h3>
      <p class="team__position">Create a blog post subtitle that summarizes your post in a few short, punchy sentences
        and entices your audience to continue reading....</p>
    </figcaption>
  </figure>
</div>
<section class="subscribe">
  <h2>
    Never Miss a New Post.
  </h2>
  <form>
    <input type="text">
    <button>Subscribe</button>
  </form>
</section>

<div class="posts-aside-container">

<section class="posts-container">
  <h2>train of thought</h2>
  <ul class="posts">
    <li class="posts-item">
      <img src="../assets/img/2.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>Top 5 Items Under 20$ I Can't Live Without</h3>
          <p>LCreate a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
    <li class="posts-item">
      <img src="../assets/img/3.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>5 Pizza Places You Must Know</h3>
          <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
    <li class="posts-item">
      <img src="../assets/img/4.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>This Artist Will Blow Your Mind</h3>
          <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
    <li class="posts-item">
      <img src="../assets/img/8.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>5 Questions to Ask Yourself Before Getting Married</h3>
          <p>LCreate a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
    <li class="posts-item">
      <img src="../assets/img/5.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>Movies That Need to Be Seen on the Big Screen</h3>
          <p>LCreate a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
    <li class="posts-item">
      <img src="../assets/img/6.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>Best Podcasts to Listen to When Traveling</h3>
          <p>LCreate a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
    <li class="posts-item">
      <img src="../assets/img/7.webp" alt="post image"/>
      <div class="posts-wrapper">
        <div class="posts-textContainer">
          <section class="timing">
            <p>Jan 7</p>
            <span>*</span>
            <p>1 min</p>
          </section>
          <h3>Back to Fiction: What I'm Reading This Summer</h3>
          <p>LCreate a blog post subtitle that summarizes your post in a few short, punchy sentences and entices your...</p>

        </div>
        <div class="posts-social">
          <div class="posts-social__view-comments">
            <p>0 view</p>
            <p>0 comments</p>
          </div>
          <div class="posts-social__likes">
            <p>23</p> <span>@</span>
          </div>
        </div>
      </div>

    </li>
<button>More Posts</button>
  </ul>
</section>
<aside class="aside">

  <section class="aside-aboutme">
    <h2>
      aboute me
    </h2>
    <img src="../assets/img/profile.webp" alt="">
    <p>
      ABOUT ME
      I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
    </p>
    <a href="#">Read more</a>
  </section>
<section class="aside-followme">
  <h2>follow me</h2>
  <ul class="aside-followme__container">
    <li class="aside-followme__img-item" >
      <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/01.jpg" alt="image gallary">
    </li>
    <li class="aside-followme__img-item" >
      <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/02.jpg" alt="image gallary">
    </li>
    <li class="aside-followme__img-item" >
      <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/03.jpg" alt="image gallary">
    </li>
    <li class="aside-followme__img-item" >
    <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/04.jpg" alt="image gallary">
  </li>
    <li class="aside-followme__img-item" >
    <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/05.jpg" alt="image gallary">
  </li>
    <li class="aside-followme__img-item" >
    <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/06.jpg" alt="image gallary">
  </li>
    <li class="aside-followme__img-item" >
    <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/07.jpg" alt="image gallary">
  </li>
    <li class="aside-followme__img-item" >
    <img src="https://static.parastorage.com/services/instagram-cdn/1.659.0/assets/ig-templates-accounts/Editor/Personal%20Blog/08.jpg" alt="image gallary">
  </li>

  </ul>
</section>
<section class="aside-social">
  <ul class="menu-social-icons">
    <li>fb</li>
    <li>inst</li>
    <li>twit</li>
    <li>pinter</li>
  </ul>
</section>
<section class="aside-subscribe">
  <h2>
    subscribe
  </h2>
  <form>
    <input type="text">
    <button>Subscribe</button>
  </form>
</section>
<section class="aside-book">
  <h2>my pick of the month</h2>
  <img src="https://static.wixstatic.com/media/84770f_0129bae0812d4987bc00dd154323a2c5~mv2_d_1920_2880_s_2.jpg/v1/crop/x_46,y_1049,w_1874,h_1246/fill/w_284,h_188,al_c,q_80,usm_0.66_1.00_0.01/books%20new%20smaller.webp" alt="">
<p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
</section>
</aside>
</div>
