@import "styles/default-styles.css";
@import "styles/vars.css";
@import "styles/hamburger-menu";


img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.ng-fa-icon {
  color: var(--color1);
  font-size: 26px;
}

header {
  text-align: center;

  .menu {
    position: relative;
    padding-top: 20px;

    &:before {
      content: "";
      position: absolute;
      width: 120%;
      border-top: 1px solid var(--color1);
      bottom: 0;
      left: -10%;
    }
  }

  h1 {
    font-family: var(--font2);
    font-size: var(--fs1);
    margin: 10px 0 15px 0;
  }

  p {
    font-weight: 300;
    font-size: var(--fs6);
    text-transform: uppercase;
    letter-spacing: var(--letterspacing1);
  }
}


.post {
  position: relative;
  margin-top: 65px;
  border: 1px solid var(--color1);

  &:before {
    content: "";
    position: absolute;
    width: 120%;
    border-top: 1px solid var(--color1);
    top: -45px;
    left: -10%;
  }

  &-img__wrapper {
    position: relative;
  }

  &-img__overlay {
    position: absolute;
    top: -20px;
    left: -1px;
    padding: 10px 20px;
    background-color: var(--color3);
    border: 1px solid var(--color1);

    p {
      font-size: var(--fs6);
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: var(--letterspacing1);
    }
  }

  .timing {
    margin: 20px;
  }

  h2 {
    font-size: var(--fs2);
    margin: 20px;
  }

  &-text {
    display: none;
  }
}

.subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 40px 0;

  &:before {
    content: "";
    position: absolute;
    width: 120%;
    border-top: 1px solid var(--color1);
    left: -10%;
    top: 0;
  }

  h3 {
    font-family: var(--font2);
    font-size: var(--fs3);
  }

  form {
    display: flex;
    align-items: flex-end;

    .input-container {
      display: flex;
      flex-direction: column;

      label {
        font-size: var(--fs5);
      }
    }

    button {
      margin-left: 10px;
      font-size: var(--fs6);
    }
  }
;
}

.posts-aside-container {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 120%;
    border-top: 1px solid var(--color1);
    top: 0;
    left: -10%;
  }
}

.posts {

  &-container {
    display: flex;
    flex-direction: column;

    button {
      margin-top: 20px;
      align-self: center;
      font-size: var(--fs5);
      font-weight: 300;
    }
  }

  &-item {
    border: 1px solid var(--color1);
    margin-bottom: 20px;
  }

  &-wrapper {
    padding: 20px;
  }

  &-textContainer {

    h3 {
      font-size: var(--fs4);
      margin: 15px 0;
    }

    p {
      font-size: var(--fs5);
      font-weight: 300;
    }

  }

  &-social {
    margin-top: 40px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color5);

    .ng-fa-icon {
      color: var(--color1);
      font-size: var(--fs5);
    }

    &__view {
      &-container {
        display: flex;
        align-items: center;

        p {
          margin-right: 20px;
          font-size: var(--fs6);
        }

        span {
          margin-right: 5px;
        }
      }

      &-view {
        display: none;
      }

      &-comment {
        display: none;
      }
    }

    &__likes {
      display: flex;

      span {
        margin-left: 5px;

        .ng-fa-icon {
          color: var(--color4);
        }
      }
    }
  }
}


.aside {

  &-aboutme {
    position: relative;
    margin-top: 40px;

    &:before {
      content: "";
      position: absolute;
      width: 120%;
      border-top: 1px solid var(--color1);
      top: 0;
      left: -10%;
    }

    img {
      border: 1px solid var(--color1);
    }

    p {
      margin: 30px 0;
      font-weight: 300;
      font-size: var(--fs5);
    }
  }

  &-followme {
    position: relative;
    margin-top: 40px;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      border-top: 1px solid var(--color1);
      top: 0;
      left: 0;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__img-item {
      width: 50%;
      padding: 5px;
    }
  }

  &-social {
    padding: 40px 0;

    .menu-social-icons {
      margin: 0 auto;
    }
  }

  &-subscribe {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      border-top: 1px solid var(--color1);
      top: 0;
      left: 0;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: var(--fs5);
        letter-spacing: var(--letterspacing0);
      }

      button {
        margin-top: 10px;
      }
    }
  }

  &-book {
    position: relative;
    margin-top: 40px;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      border-top: 1px solid var(--color1);
      top: 0;
      left: 0;
    }

    img {
      border: 1px solid var(--color1);
    }

    p {
      margin: 20px 0;
      font-weight: 300;
    }
  }
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  &:before {
    content: "";
    position: absolute;
    width: 120%;
    border-top: 1px solid var(--color1);
    top: 0;
    left: -10%;
  }

  &__uparrow {
    margin: 40px 0;
    border: none;
    background-color: white;
  }

  h2 {
    text-align: center;
    font-family: var(--font2);
    margin-bottom: 20px;

  }

  form {
    display: flex;
    flex-direction: column;

    .container {

      &-input_name, &-input_last-name {
        display: flex;
        flex-direction: column;
      }
    }

    button {
      margin-top: 20px;
      font-size: var(--fs5);
      font-weight: 300;
    }

  }
}

.title-decorate {
  text-transform: uppercase;
  letter-spacing: var(--letterspacing2);
  font-size: var(--fs4);
  font-weight: 300;
  padding: 40px 0;
}

.menu-social-icons {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--color2);
  color: var(--color3);
}

label {
  margin: 20px 0 5px 0;
  font-weight: 300;
}

input, textarea {
  border: none;
  border-bottom: 1px solid var(--color1);
  outline: none;

  &:focus {
    border-bottom: 1px solid var(--color2);
  }
}


.timing {
  display: flex;

  p {
    font-size: var(--fs6);
  }

  span {
    margin: 0 5px;
  }
}

@media screen and (min-width: 768px) {
  img {
    width: 50%;
  }
  header {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;

    h1 {
      font-size: var(--fs7);
    }

    p {
      margin-top: 40px;
      font-size: var(--fs4);
    }

    .menu {
      display: flex;
      flex-direction: row-reverse;

      label, input {
        display: none;
      }

      .menu-social-icons {
        align-items: center;
        border-right: 1px solid var(--color1);

        &:before {
          content: "";
          position: absolute;
          width: 120%;
          border-top: 1px solid var(--color1);
          bottom: 0;
          left: -10%;
        }

        &:after {
          content: "";
          position: absolute;
          width: 120%;
          border-top: 1px solid var(--color1);
          top: 20px;
          left: -10%;
        }

        .ng-fa-icon {
          font-size: var(--fs4);
        }
      }

      &:before {
        width: 100%;
        left: 0;
      }

      &__btn {
        display: none;
      }

      &__item {
        font-size: var(--fs5);
        font-weight: 300;
      }

      &-nav {
        position: static;
        visibility: visible;
        width: calc(100% * 0.8);
        display: flex;
        justify-content: space-around;
        padding: 0;
        border: 1px solid var(--color1);
        background-color: var(--color3);
        box-shadow: none;

        &__item {
          width: inherit;
          text-align: center;
          border-right: 1px solid var(--color1);

          &:last-child {
            border-right: none;
          }
        }
      }

      &-social-icons {
        width: calc(100% * 0.2);
        border: 1px solid var(--color1);
        display: flex;
        justify-content: space-around;
        border-left: none;
      }
    }
  }


  .post {
    margin-top: 100px;
    border: 1px solid var(--color1);

    &:before {
      width: 0;
    }

    img {
      width: 100%;
    }

    &-img__overlay {

      p {
        font-size: var(--fs4);
      }
    }

    &-text {
      display: block;
      margin: 20px;
    }
  }


  .subscribe {
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-size: var(--fs1);
    }

    form {
      button {
        font-size: var(--fs5);
        font-weight: 300;
      }
    }
  }

  .posts-aside-container {
    display: flex;
  }
  .posts-container {
    width: 60%;

    .posts {
      &-item {
        display: flex;
      }

    }
  }
  .posts-social {
    p {
      margin-right: 5px;
    }

    &__view-icon {
      display: none;
    }

    &__view-view {
      display: block;
    }

    &__view-comment {
      display: block;
    }
  }


  .aside {
    position: relative;
    width: 30%;
    margin-left: 10%;

    &:before {
      content: "";
      position: absolute;
      height: 98%;
      border-left: 1px solid var(--color1);
      top: 1%;
      left: -10%;
    }

    &-aboutme {
      margin-top: 0;

      img {
        width: 100%;
      }

      &:before {
        border-top: none;
      }


    }


    &-followme {
      img {
        width: 100%;
      }
    }


    &-book {
      img {
        width: 100%;
      }
    }
  }

  .form-container {
    h2 {
      font-size: var(--fs1);
    }

    form {
      width: 80%;
      margin: 0 auto;

      .container {
        display: flex;
        justify-content: space-between;


        &-input_name, &-input_last-name {
          width: 45%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {

}
